* {
    font-family: Arial Black;
    font-weight: 700;
}

body {
    margin: 0;
    min-width: 800px;
}

.flex-container { 
    display: flex; 
    flex-direction: column;
    background-color: #e0e0e0;
    padding: 72px;
}

.header {
    display: flex;
    position: relative;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.footer {
  display: flex;
  flex-direction: row;
  min-height:25px;
  background-color: #f1f1f1;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  align-items: center;
  justify-content: center;
}

.footerElement {
  color: black;
  font-size: 12px;
  color: black;
  font-family: Arial;
  padding-left: 20px;
  padding-right: 20px;
}

.footerElement:hover {
  color: red;
}

.header-navbar {
    overflow: hidden;
    margin-top: 16px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    height: 90px;
    cursor: pointer;
}

.header-navbar-cropped {
    width: 140px;
    height: 90px;
}

.header-name {
    margin-left: 20px;
}

.header-shopping-cart {
    background: #F6F5F3;
    border-radius: 10px;
    width: 35px;
    height: 33px;
    margin-top: 16px;
    padding: 5px 10px 5px 10px;
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.header-shopping-cart:hover {
    background-color: #f1eeea;
}

.header span {
    flex: 1;
}
.thank-you-text {
    font-size: 50px;
    margin-top: 40px;
}

.words {
    margin: 22px;
}

.word-1 {
    margin-left: 450px;
}

.word-2 {
    margin-left: 550px;
}

.word-3 {
    margin-left: 650px;
}

.word-4 {
    margin-left: 700px;
}

.word-5 {
    margin-left: 750px;
}
